body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('/static/images/home_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.content {
    font-weight: 500;
    font-size: 16px;
}

.query-parameter-explanation {
    padding-left: 40px;
}