<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PDF Reader</title>
    <link rel="stylesheet" href="/prod/static/style.css">
</head>
<body>
    <div class="body-wrapper">
        <div class="header">
            <h2>PDF Reader</h2>
        </div>
        <div class="content">
            <p>
                [Usage] https://aws_deployment_address/YOUR_PDF_URL[?image=false&correct=false]
            </p>
            <div class="query-parameter-explanation">
                Query Parameters (optional)
                <ul>
                    <li><i>image</i>: whether to enable image extraction</li>
                    <li><i>correct</i>: whether to enable text correction</li>
                </ul>
                <div class="warning-note">Both of them default to be True, which means they default to be enabled.</div>
                <div class="warning-note">If you want to disable any of them, you have to set the corresponding parameter to False.</div>
                <div class="warning-note">The case of the bool value you set does not matter, which means either <i>false</i> or <i>False</i> will work.</div>
            </div>
            <p>
                [Source code] https://github.com/AshleyXM/pdf-reader
            </p>
        </div>
    </div>
</body>
</html>