<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PDF Reader</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="body-wrapper">
        <div class="header">
            <h2>PDF Reader</h2>
        </div>
        <div class="content">
            <p>
                [Usage] https://aws_deployment_address/YOUR_PDF_URL
            </p>
            <p>
                [Source code] https://github.com/AshleyXM/pdf-reader
            </p>
        </div>
    </div>
</body>
</html>